n8n/workflows/WEA-31-human-digest-uk-window.json
{
	"name": "WEA-31 — Human digest e-mail (UK 05:00–23:00)",
	"active": false,
	"meta": {
		"templateCredsSetupCompleted": false
	},
	"nodes": [
		{
			"parameters": {
				"content": "## WEA-31 — file e-mail humain (UK)\n\n- **Fuseau** : `Europe/London` (réglage du workflow + instance n8n si besoin).\n- **Déclencheur** : toutes les 2 h (échantillonnage / anti-rafale). Ajuste l’intervalle ici.\n- **Fenêtre** : envoi e-mail seulement si l’heure UK est **05–23** (nœud *If*). Hors fenêtre → *No Operation* (les exécutions s’arrêtent ; pour une file persistante, brancher une base / *Wait* / sous-workflow selon l’instance).\n- **SMTP** : attache un credential *SMTP* au nœud *Send digest email* (noms documentés dans `docs/WEA-31-n8n-human-email-queue.md`).\n- **Intégrations** : remplace *Build digest text* par Linear / Slack / HTTP / Gmail ; garde *In UK human window?* et l’e-mail en aval pour [WEA-19](https://linear.app/weadu/issue/WEA-19/notifications-e-mail-prioritaire-5h-23h-uk-slack-calme-20h-7h-urgence).",
				"height": 352,
				"width": 464,
				"color": 4
			},
			"id": "f6a7b8c9-d0e1-4f5a-3b4c-5d6e7f8a9b0c",
			"name": "README (sticky)",
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [-520, -140]
		},
		{
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "hours",
							"hoursInterval": 2,
							"triggerAtMinute": 7
						}
					]
				}
			},
			"id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
			"name": "Every 2h (sample)",
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1.3,
			"position": [0, 0]
		},
		{
			"parameters": {
				"mode": "manual",
				"duplicateItem": false,
				"includeOtherFields": true,
				"include": "all",
				"assignments": {
					"assignments": [
						{
							"id": "a1111111-1111-4111-8111-111111111111",
							"name": "digestSubject",
							"type": "string",
							"value": "={{ 'WeAdU — digest ' + $json['Readable date'] }}"
						},
						{
							"id": "b2222222-2222-4222-8222-222222222222",
							"name": "digestText",
							"type": "string",
							"value": "={{ 'Template digest (WEA-31). Replace this node with your source (Linear, Slack, HTTP).\\n\\nUK time: ' + $json['Readable date'] + '\\n' + $json.Timezone }}"
						}
					]
				},
				"options": {}
			},
			"id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
			"name": "Build digest text",
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [240, 0]
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "uk-hour-min",
							"leftValue": "={{ Number($json.Hour) }}",
							"rightValue": "5",
							"operator": {
								"type": "number",
								"operation": "gte"
							}
						},
						{
							"id": "uk-hour-max",
							"leftValue": "={{ Number($json.Hour) }}",
							"rightValue": "23",
							"operator": {
								"type": "number",
								"operation": "lte"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
			"name": "In UK human window?",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.3,
			"position": [480, 0]
		},
		{
			"parameters": {
				"resource": "email",
				"operation": "send",
				"fromEmail": "={{ $env.N8N_DIGEST_FROM_EMAIL || 'noreply@example.com' }}",
				"toEmail": "={{ $env.N8N_HUMAN_EMAIL_TO || 'you@example.com' }}",
				"subject": "={{ $json.digestSubject }}",
				"emailFormat": "text",
				"text": "={{ $json.digestText }}",
				"options": {}
			},
			"id": "d4e5f6a7-b8c9-4d5e-1f2a-3b4c5d6e7f8a",
			"name": "Send digest email",
			"type": "n8n-nodes-base.emailSend",
			"typeVersion": 2.1,
			"position": [760, -100],
			"notesInFlow": false
		},
		{
			"parameters": {},
			"id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
			"name": "Skip (off-window)",
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [760, 120]
		}
	],
	"pinData": {},
	"connections": {
		"Every 2h (sample)": {
			"main": [
				[
					{
						"node": "Build digest text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Build digest text": {
			"main": [
				[
					{
						"node": "In UK human window?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"In UK human window?": {
			"main": [
				[
					{
						"node": "Send digest email",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Skip (off-window)",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {
		"executionOrder": "v1",
		"timezone": "Europe/London"
	},
	"staticData": null,
	"tags": []
}
